*.thicket_imprint
/allfiles.txt
root/scope/deep_file
root/scope/src_all
root/scope/looop
root/scope/src_another
root/scope/src_import1file/file_from_a
root/scope/src_vars
root/scope/shallow_refs
root/scope/shallow_refs_filtered
root/scope/with_spaces
